.book {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.editInputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.editInput {
    margin-bottom: 5px;
    width: 150px;
}